/* body {
  margin: 0px;
}
 */


.wrapper {
		display: grid;
    grid-gap: 12px;
		grid-template-columns: [col] 220px [col] 220px [col] 220px ;
		grid-template-rows: [row] 50px [row] 50px [row] ;
		background-color: #fff;
		color: #444;
	}

	/* .box {

		padding: 20px;
	
	}

	.a1 {
		grid-column: col 1 ;
    grid-row:row;
		
  }
  
  .a1r3 {
		grid-column: col 1 ;
    grid-row:row 3;
		
  }
  
	.a2 {
		grid-column: col 2; 
    grid-row:row
  }
  .a2r3 {
		grid-column: col 2; 
    grid-row:row 3
  }
  
	.a3 {
		grid-column: col 3;
    grid-row:row;
  }
  
  .a3r3{
		grid-column: col 3;
    grid-row:row 3;
  }
  
  .b1 {
        grid-column: 2/4;
        grid-row: row 2 ;
    }
   
    .b1r3 {
      grid-column: 2/4;
      grid-row: row 4 ;
  }

	.c1 {
		grid-column: col 3 ;
		grid-row: row 3 ;
	}

	.e {
		grid-column: col / span 4;
		grid-row: row 3;
  }
  
  textarea{
    width: 80%
  } */